body {
  background-color: #AB8076;
}

h1 {
  color: white;
  text-align: center;
  border: 3px solid white;
}

/* IMAGE */

.card {
 width: 490px;
 height: 354px;
 margin: 0 auto;
 background-color: #666d6d;
 border-radius: 8px;
 z-index: 1;
}

.tools {
 display: flex;
 align-items: center;
 padding: 9px;
}

.circle {
 padding: 0 4px;
}

.box {
 display: inline-block;
 align-items: center;
 width: 10px;
 height: 10px;
 padding: 1px;
 border-radius: 50%;
}

.red {
 background-color: #ff605c;
}

.yellow {
 background-color: #ffbd44;
}

.green {
 background-color: #00ca4e;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}







































