<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test flask on Linus Cloud</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style.css" rel="stylesheet">
  </head>
  <body>
 <h1>Hello Linux Cloud</h1>
  <div class="card">
  <div class="tools">
    <div class="circle">
      <span class="red box"></span>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content">
        <img src="static/images/linux.png" alt="linux">
  </div>
</div>
  </body>
</html>
